@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 94%;
    --foreground: 20 14.3% 4.1%;

    --card: 36 33% 94%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 36 33% 94%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 36 33% 44%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 36 33% 88%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 36 33% 88%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 36 33% 88%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 36 33% 84%;
    --input: 36 33% 84%;
    --ring: 35 91.7% 32.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 36 33% 44%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
